.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: rgb(223, 142, 67);
    color: rgb(195, 204, 255);

    a {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font-size: 30px;
    }
}

.navbar__header__logo {
    width: 150px;
    height: 150px; 
}